:root {
    --primary-color: #311847;
    --first-color: #ef5d60;
    --second-color: #EC4067;
    --third-color: #A01A7D;
    --background-color: var(--primary-color);
    --boxshadow-color: var(--card-color);
    --sidebar-text: var(--primary-color);
    --card-color: #221031;
    --text-color: var(--first-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}

.light-mode {
    --background-color: #f5f5f5;
    --boxshadow-color: #999999;
    --card-color: #fff;
    --text-color: var(--primary-color);
}

.brand {
    font-family: 'Unica One', cursive;
    color: #ef5d60;
}
