:root {
    --primary-color: #311847;
    --first-color: #ef5d60;
    --second-color: #EC4067;
    --third-color: #A01A7D;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.dark-mode {
    --background-color: var(--primary-color);
    --boxshadow-color: var(--second-color);
    --sidebar-text: var(--primary-color);
}

.light-mode {
    --background-color: #dadada;
    --boxshadow-color: #464646;
}

.title {
    font-family: 'Unica One', cursive;
    color: #ef5d60;
}
